
{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Thanks for your attempted order!</h1>
        <p>
            But your payment failed :(
            <a href="mailto:booking@example.com">booking@example.com</a>.
        </p>
    </div>
{% endblock %}