
{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}
    <h1>Thanks for your order!</h1>
    <p>
        If you have any questions, please email
        <a href="mailto:booking@example.com">booking@example.com</a>.
    </p>
{% endblock %}